.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-text {
    text-align: center;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 3rem;
    color: '#000'
}

.border {
    border: 1px solid #000;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}